a.hyperlink
{
text-decoration: none;
color: mediumblue;
font-size: 12px;
font-size: 16px;
}

.content figure {
  height: 8.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: solid #d2d2d2 1px;
}


h2{
color: #1e4f79;
font-size: 26px;
}

ul ul li{
color:black;
font-size: 12px;
    text-decoration:none;
}
ul ul li:hover{
color:blue;
font-size: 12px;
    text-decoration:none;
}
li{
color:black;
font-size: 16px;
class="hyperlink"
text-decoration:none;
}
li:hover{
color:#1e4f79;
font-size: 20px;
text-decoration:none;
}
h3
{
  color: black;
  font-size: 18px;
}

h4
{
  color: grey;
  font-size: 11px;
}

#sidebar {
  width: 100%;
}

<!--#sidebar .menu-list a.is-active {-->
<!--  background-color: #9dd5d8;-->
<!--}-->

@media screen and (min-width: 769px), print {
  .column.is-2_5, .column.is-2-tablet {
    flex: none;
    width: 20%;
  }
}
/* Style the sidebar - fixed full height */


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 5px;}
  .sidebar a {font-size: 18px;}
}

<link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/css/main.css" />
<!-- STYLESHEETS -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" href="css/all.min.css" type="text/css" media="all">
<link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" media="all">
<link rel="stylesheet" href="css/slick.css" type="text/css" media="all">
<link rel="stylesheet" href="css/animate.css" type="text/css" media="all">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
